<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Signin Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">

    <!-- Bootstrap core CSS -->
<link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{static('css/signin.css')}}" rel="stylesheet">
  </head>
  <body class="text-center flex-column">
      {% if authorized %}
          <main role="main" class="flex-shrink-0">
              <div class="container">
                <h1 class="mt-5">You are signed in as {{login}}</h1>
              </div>
          </main>
      {% else %}
          <form class="form-signin" action="/login" method="post">
              <img class="mb-4" src="{{static('images/sign_in/bootstrap-solid.svg')}}" alt="" width="72" height="72">
              <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
              <label for="inputLogin" class="sr-only">Login\Username</label>
              <input type="text" id="inputLogin" class="form-control" placeholder="Login" name="login" required autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
              <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Sign in</button>
              <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
          </form>
      {% endif %}


  <script src="{{static('js/jquery-3.5.1.slim.min.js')}}"></script>
  <script src="{{static('bootstrap/bootstrap.min.js')}}"></script>
  <script src="{{static('bootstrap/popper.min.js')}}"></script>
</body>
</html>
